.promo {
  color: $white;
  height: 860px;
  min-height: 860px;
  margin-bottom: 185px;

  @media (max-width: $tablet-width) {
    height: 344px;
    min-height: 344px;
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    height: 433px;
    min-height: 433px;
  }
}

.promo__container {
  height: 100%;
  padding-top: 186px;
  padding-right: 310px;
  padding-left: 142px;
  background:url("../img/promo.jpg"),
  linear-gradient(to right, $white 0%,$white 15%,$white 15%,$background-navy 15%,$background-navy 100%);
  background-position: 100% 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    padding-right: 21px;
    padding-left: 21px;
    background:url("../img/promo_tablet.jpg"),
    linear-gradient(to right, $background-navy 0%,$background-navy 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    padding-top: 81px;
    background:url("../img/promo_mobile.jpg"),
    linear-gradient(to bottom, $background-navy 0%,$background-navy 50%, $white 50%,$white 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.promo__inner-wrapper {
  width: 393px;
  max-width: 50%;

  @media (max-width: $tablet-width) {
    min-width: 398px;
    width: 398px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
    width: 100%;
  }
}

.promo__title {
  letter-spacing: -1.1px;

  @media (max-width: $tablet-width) {
    letter-spacing: normal;
  }
}

.promo__text {
  line-height: 27px;
  letter-spacing: -0.5px;
  margin-top: 31px;
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 11px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 104px;
    margin-bottom: 20px;
    color: $dark-gray;
  }
}

.promo__button {
  width: 340px;
  text-align: start;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 250px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }

  & svg {
  position: absolute;
  right: 39px;
  top: auto;
  bottom: auto;

    @media (max-width: $tablet-width) {
      width: 14px;
      height: 14px;
      stroke-width: 1;
    }
  }

  &:active svg {
    stroke: rgba($white, 0.5);
  }
}

.promo__desktop-br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
