// Fonts
$montserrat: "Montserrat", "Tahoma", sans-serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$darkest-gray: #141517;
$dark-gray: #2C2E3F;
$light-gray: #FBF8F8;
$popup-gray: #48494D;
$icon-gray: #D7D9DF;
$background-navy: #5B769C;
$orange: #FE7865;
$orange-accent: #F17D4B;

// Media
$desctop-width-only: 1024px;
$tablet-width: 1024px;
$mobile-width: 767px;
